form {
  width: 600px;
  padding: 20px;
}
mat-form-field {
  width: 100%;
  padding: 0 20px;
}
button {
  width: 95%;
  padding: 5px;
}
div.title {
  width: 100%;
  text-align: center;
}
div.title h1 {
  color: chocolate;
  font-size: 3rem;
  font-weight: bold;
}
div.title h4 {
  color: teal;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  form,
  mat-form-field {
    padding: 0 10px;
  }
  form {
    width: unset;
    min-width: 380px;
  }
}
